
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Sertifika Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">

    <label>Sertifika</label>
    <input type="text" name="Aciklama" placeholder="Sertifika Adı" class="form-control" />
    <br />

    <label>Tarih</label>
    <input type="text" name="Tarih" placeholder="Tarihi Giriniz" class="form-control" />
    <br />

    <button class="btn btn-primary">Sertifika Ekle</button>

</form>

