<form method="post">
    <div class="resume-section-content">
        <h2 class="mb-5">İletişim Paneli</h2>

        <label >Ad Soyad</label>
        <input type="text" name="AdSoyad" class="form-control" />

        <label >E-Posta </label>
        <input type="email" name="Mail" class="form-control" />

        <label>Konu</label>
        <input type="text" name="Konu" class="form-control" />

        <label>Mesaj</label>
        <input type="text" name="Mesaj" class="form-control" />

        <br />
        <button class="btn btn-danger">Gönder</button>
        <br />
    </div>
</form>