@using Mvc_cv.Models.Entity
@model List<Tbl_Sosyalmedya>
<div class="social-icons">
    @foreach (var item in Model)
    {
    <a class="social-icon" href="@item.Link"><i class="@item.icon"></i></a>
    }
</div>
