
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Yetenek Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">

    <label>Yetenek</label>
    <input type="text" name="Yetenek" placeholder="Yetenek" class="form-control" />
    <br />

    <label>Oran</label>
    <input type="number" name="Oran" placeholder="Oran" class="form-control" />
    <br />

    <button class="btn btn-primary">Yetenek Ekle</button>

</form>

