
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Admin Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">

    <label>Kullanıcı Adı</label>
    <input type="text" name="Kullanici_Adi" placeholder="Kullanıcı Adı" class="form-control" />
    <br />

    <label>Şifre</label>
    <input type="text" name="Sifre" placeholder="Şifre" class="form-control" />
    <br />

    <button class="btn btn-primary">Admin Ekle</button>

</form>

